.container
  .col-md-12
    - if signed_in?
      = link_to "Crear post", new_post_path, class: "btn btn-primary pull-right edit-btn-margin-left top_buttons"
      = link_to "Sin publicar", unpublished_path, class: "btn btn-warning pull-right edit-btn-margin-left top_buttons"
    %h1 Blog de D0A3
    %span.line
    %hr
    %center
      = image_tag("cover.jpg", class: "img-center img-responsive", style: 'max-width: 95%;')
    = render 'shared/categories'
    %hr
  .col-md-10
    - @posts.each do |post|
      = render partial: 'shared/post', locals: { post: post }
  .col-md-2
    = render partial: 'shared/tags'
%center= will_paginate @posts