<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Blog de D0A3</h1>
      <span class="line"></span>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <center>
          <%= image_tag("cover.jpg", class: "img-center img-responsive") %>
          </center>
        </div>
      </div>
      <br>
      <div class="clearfix"></div>
        <% @posts.each do |post| %>
        <div class="col-md-4">
        <%= link_to image_tag(post.avatar_url, class: "img_show"), post_path(post) %><br>
        </div>
        <div class="col-md-8">
        <% post.categories.each do |cat| %>
        <span class="label label-primary"><%= cat.name %></span>
        <% end %>
        <br><br>
        <% post.tags.each do |tag| %>
        <span class="label label-warning"><%= tag.name %></span>
        <% end %>
        </div>
        <div class="clearfix"></div>
        <h3><%= link_to "#{post.unhyphen_title}", post_path(post), {:style=>'color:#793284;', :class => "post_link"} %></h3>
        <h4><%= markdown(post.summary) %></h4>
        <h5><%= post.created_at.to_s(:short) %></h5>
        <hr>
        <% end %>

<p>De 0 a 3 es una organización enfocada al desarrollo infantil temprano, nos preocupamos por que el futuro de nuestro niños sea altamente productivo y este tenga repercusiones positivas que ayuden a una mejor sociedad. Es por eso que en este blog te encontrarás información y consejos de cómo impulsar el desarrollo cerebral de tu bebé, así como fomentar una buena relación contigo y el resto del entorno en el que crece.
</p>

<p>En la parte de Artículos, podrás encontrar información detallada sobre el cuidado de tu bebé y cómo cubrir esas necesidades de la mejor manera y dependiendo su edad. Aunque cada niño es diferente, es necesario que aprendas acerca de las distintas situaciones que pueden presentarse a lo largo de su crecimiento.
</p>

<p>Dentro de Actividades, encontrarás algunos juegos que puedes realizar con tu hijo para estimular mejor su funcionamiento cerebral y sus movimientos.
</p>

<p>Puedes entrar a nuestros Casos de Éxito y ver cómo algunos niños se han beneficiado de este programa.
</p>

<p>Por último, en la parte Social verás algunas sesiones especiales con nuestros niños y galería de fotos.
</p>
    </div>
  </div>
</div>