<% provide(:title, "Inicio de sesión") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Volver al inicio", root_url, 
      class: "btn btn-primary btn pull-right edit-btn-margin-left top_buttons" %>
      <%= link_to "Crear usuario nuevo", new_user_path, 
      class: "btn btn-warning btn pull-right top_buttons" %>
      <h2>Ingresa tus datos para entrar</h2>
      <span class="line"></span>
      <hr>
      <div class="register_form">
      <%= simple_form_for :session, :url => login_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <%= f.input :email, class: "form-control" %>
        <%= f.input :password, class: "form-control" %>
        <%= f.submit "Iniciar sesión", class: "btn btn-warning btn-block" %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>