<div class="register_form">
  <%= simple_form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.input :email,    label: "Email",      class: "form-control" %>
  <%= f.input :password, label: "Contraseña", class: "form-control" %>
  <% if params[:action] == 'new' %>
  <%= f.submit "Crear usuario",   class: "btn btn-block btn-primary" %>
  <% else %>
  <%= f.submit "Guardar cambios", class: "btn btn-block btn-primary" %>
  <%= link_to "Borrar post", @user, method: :delete, 
  data: { confirm: "¿Estás seguro de borrar al usuario '#{@user}'?" },
                                  class: "btn btn-danger btn-block" %>
  <% end %>
  <% end %>
</div>

