.row
  = link_to "Articulos", posts_path(filter: 'Articulos'), class: 'btn btn-primary'
  = link_to "Social", posts_path(filter: 'Social'), class: 'btn btn-warning'
  = link_to "Tips", posts_path(filter: 'Tips'), class: 'btn btn-info'
  = link_to "Actividades", posts_path(filter: 'Actividades'), class: 'btn btn-success'
  = link_to "Casos de Éxito", posts_path(filter: 'Exito'), class: 'btn btn-primary'