.col-md-12
  .row
    .col-md-4
      = link_to image_tag(post.avatar_url, class: "img_show img-responsive"), post_path(post)
    .col-md-8
    %h3= link_to "#{post.unhyphen_title}", post_path(post), {style:'color:#793284;', class: "post_link"}
    %h5= post.created_at.strftime("%d %B %Y")
    %span.label.label-primary{style: "background-color:#{tag_color(post.mother_category)}"}= post.mother_category
    %h4= markdown(post.summary)
    .clearfix
    %hr.post-line