.container
  .row
    .col-md-12
      = link_to "Regresar a los posts", root_path, class: "btn btn-primary pull-right top_buttons"
      %h1 Categorías y Etiquetas
      %span.line
      %hr
      #tag_cloud.row
        #tags_div.col-md-12
          - if @categories.empty?
            %h3 Todavía no hay categorías
          - else
            %h3 Categorías
          - @categories.each do |cat|
            %span= "#{cat.name} (#{cat.taggings_count})"
            = link_to "X", tag_path(cat), method: :delete, data: { confirm: "¿Estás seguro de borrar '#{cat.name}'?" }, class: "delete_tag"
          %br
          - if @tags.empty?
            %h3 Todavía no hay etiquetas
          - else
            %h3 Etiquetas
          - @tags.each do |tag|
            %span= "#{tag.name} (#{tag.taggings_count})"
            = link_to "X", tag_path(tag), method: :delete, data: { confirm: "¿Estás seguro de borrar '#{tag.name}'?" }, class: "delete_tag"