<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Regresar a los posts", posts_path, class: "btn btn-primary pull-right top_buttons" %>
      <h1>Categorías y Hashtags</h1>
      <span class="line"></span>
      <hr>
      <div id="tag_cloud" class="row">
        <div class="col-md-10 col-sm-10 col-xs-10" id="tags_div">
          <% if @categories.empty? %>
          <h3>Todavía no hay categorías</h3>
          <% else %>
          <h3>Categorías</h3>
          <% end %>
          <% @categories.each do |cat| %>
<!--  -->
          <button class="btn btn-sm btn-default btn_categories">
            <%= link_to "#{cat.name} (#{cat.taggings_count})", tag_path(cat.name), class: "btn btn-sm btn-default contact_tag" %>
            <%# TODO falta ver que esto solo lo pueda ver un admin %>
            <%= link_to "X", tag_path(cat), method: :delete,
            data: { confirm: "¿Estás seguro de borrar '#{cat.name}'?" }, :class => "delete_tag" %>
          </button>
<!--  -->
          <% end %><br><br>
          <% if @tags.emtpy? %>
          <h3>Todavía no hay hashtags</h3>
          <% else %>
          <h3>Hashtags</h3>
          <% end %>
          <% @tags.each do |tag| %>
<!--  -->
          <button class="btn btn-sm btn-default btn_tags">
            <%= link_to "#{tag.name} (#{tag.taggings_count})", tag_path(tag.name), class: "btn btn-sm btn-default contact_tag" %>
            <%# TODO falta ver que esto solo lo pueda ver un admin %>
            <%= link_to "X", tag_path(tag), method: :delete,
            data: { confirm: "¿Estás seguro de borrar '#{tag.name}'?" }, :class => "delete_tag" %>
          </button>
<!--  -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
