.register_form
  = simple_form_for @post do |f|
    = render 'shared/error_messages', object: f.object
    - if params[:action] == "new"
      = f.input :avatar,   label: "Foto",           class: "form-control"
    - else
      %center
        .circle_image.upload-preview
          %img{src: @post.avatar}/
          = f.input :avatar
    = f.input :title,   label: "Título",      class: "form-control"
    = f.input :summary, label: "Resumen", as: :text, input_html: { rows: 4 }, class: "form-control"
    = f.input :content,   label: "Contenido", as: :ckeditor, input_html: { rows: 10 }, class: "form-control", input_html: { ckeditor: { toolbar: 'mini' } }
    = f.input :author, label: "Autor(a)", class: "form-control"
    = f.input :mother_category, collection: mother_category_options, label: "Categoría madre", class: "form-control"
    = f.input :publish,   label: "Publicado", class: "form-control"
    - if params[:action] == 'new'
      = f.submit "Crear post",      class: "btn btn-block btn-primary"
    - else
      = f.submit "Guardar cambios", class: "btn btn-block btn-primary"
      = link_to "Borrar post", @post, method: :delete, data: { confirm: "¿Estás seguro de borrar el post '#{@post.unhyphen_title}'?" }, class: "btn btn-danger btn-block"
    = link_to "Markdown Cheatsheet", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", target: "_blank", class: "btn btn-info btn-block"