<%# TODO meter los errores %>
<div class="register_form">
  <%= simple_form_for @post do |f| %>
  <%= f.input :title,   label: "Título",    class: "form-control" %>
  <%= f.input :summary, label: "Resumen", as: :text, :input_html => { :rows => 20 },
                                            class: "form-control" %>
  <% if params[:action] == 'new' %>
  <%= f.submit "Crear artículo",  class: "btn btn-block btn-primary" %>
  <% else %>
  <%= f.submit "Guardar cambios", class: "btn btn-block btn-primary" %>
  <%= link_to "Borrar articulo", @post, method: :delete, 
  data: { confirm: "¿Estás seguro de borrar el artículo '#{@post.title}'?" },
      class: "btn btn-danger btn-block" %>
  <% end %>
  <% end %>
</div>