<% provide(:title, "Posts") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if signed_in? %>
      <%= link_to "Crear post", new_post_path, 
      class: "btn btn-primary pull-right edit-btn-margin-left top_buttons" %>
      <%= link_to "Ver posts sin publicar post", unpublished_path, 
      class: "btn btn-warning pull-right edit-btn-margin-left top_buttons" %>
      <% end %>
      <%= link_to "Ver Hashtags", tags_path, 
      class: "btn btn-default pull-right edit-btn-margin-left top_buttons" %>
      <% if @posts.empty? %>
        <h1>No hay posts en este momento</h1>
        <span class="line"></span>
        <hr>
      <% else %>
        <h1>Posts</h1>
        <span class="line"></span>
        <hr>
        <% Post.category_counts.each do |tag| %>
        <%= link_to tag.name, tag_path(tag.name), class: "btn btn-sm btn-primary contact_tag" %>
        <% end %><br><br>
        <% Post.tag_counts.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.name), class: "btn btn-sm btn-warning contact_tag" %>
        <% end %><br><br>
        <% @posts.each do |post| %>
        <%= link_to image_tag(post.avatar_url, class: "img_show"), post_path(post) %><br>
        <% post.categories.each do |cat| %>
        <span class="label label-primary"><%= cat.name %></span>
        <% end %>
        <% post.tags.each do |tag| %>
        <span class="label label-warning"><%= tag.name %></span>
        <% end %>
        <h3><%= link_to "#{post.unhyphen_title}", post_path(post), {:style=>'color:#793284;', :class => "post_link"} %></h3>
        <h4><%= markdown(post.summary) %></h4>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
