- provide(:title, "Posts")
.container
  .col-md-12
    - if signed_in?
      = link_to "Crear post", new_post_path, class: "btn btn-primary pull-right edit-btn-margin-left top_buttons"
      = link_to "Ver posts sin publicar post", unpublished_path, class: "btn btn-warning pull-right edit-btn-margin-left top_buttons"
    %h1= @posts.empty? ? "No hay posts en este momento" : "Posts"
    %span.line
    %hr
    = render 'shared/categories'
    %br
    - @posts.each do |post|
      = render partial: 'shared/post', locals: { post: post }
  = will_paginate @posts