- provide(:title, "#{@post.unhyphen_title}")
.container
  .col-md-12
    = link_to "Volver a los posts", root_path, class: "btn btn-primary pull-right edit-btn-margin-left top_buttons"
    - if current_user
      = link_to "Editar", edit_post_path(@post), class: "btn btn-warning pull-right edit-btn-margin-left top_buttons"
    %h1= @post.unhyphen_title
    %span.line
    %hr
    = render partial: 'shared/categories'
  .col-md-10
    %h1= "ESTE POST NO ESTA PUBLICADO" if !@post.publish
    .col-md-10.col-md-offset-1
      %center
        = image_tag(@post.avatar_url, class: "img_show")
        %br
        = "#{@post.updated_at.strftime("%d %b %Y")}, Autor(a):"
        %i= @post.author
        %br
        %span.label.label-primary{style: "background-color:#{tag_color(@post.mother_category)}"}= @post.mother_category
        %br
        %br
        = "#{@post.visits_count} visitas "
        %span.glyphicon.glyphicon-eye-open
        %h4
          %i= @post.summary
      .content= @post.content.html_safe
      = simple_form_for @post.comments.create, url: comments_path do |f|
        = f.input :comment, label: "Deja tus comentarios", as: :text, input_html: { rows: 5 }, class: "form-control"
        = f.submit "Enviar comentarios", class: "btn btn-block btn-primary"
      %br
      - @post.comments.each do |comment|
        - if comment.comment
          .comments
            = comment.created_at.strftime("%d %b %Y")
            %br
            = comment.comment
  .col-md-2
    = render partial: 'shared/tags', locals: { post: @post }