<% provide(:title, "#{@post.unhyphen_title}") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Volver a los posts", posts_path, 
      class: "btn btn-primary pull-right edit-btn-margin-left top_buttons" %>
      <%= link_to "Editar", edit_post_path(@post), 
      class: "btn btn-warning pull-right edit-btn-margin-left top_buttons" %>
      <h1><%= @post.unhyphen_title %></h1>
      <span class="line"></span>
      <hr>
      <% if !@post.publish %>
      <h1>ESTE POST NO ESTA PUBLICADO</h1>
      <% end %>
      <div class="col-md-10 col-md-offset-1">
        <center>
        <%= image_tag(@post.avatar_url, class: "img_show") %><br>
        <% @post.categories.each do |cat| %>
        <h4><span class="label label-warning"><%= cat.name %></span></h4>
        <% end %>
        <% @post.tags.each do |tag| %>
        <span class="label label-primary"><%= tag.name %></span>
        <% end %>
          <h4><i><%= markdown(@post.summary) %></i></h4>
        </center>
        <p><%= markdown(@post.content) %></p>
      </div>
    </div>
  </div>
</div>
