<% provide(:title, "Posts sin publicar") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Volver a los post publicados", posts_path, 
      class: "btn btn-primary pull-right edit-btn-margin-left top_buttons" %>
      <% if @posts.empty? %>
        <h1>No hay posts sin publicar</h1>
        <span class="line"></span>
        <hr>
      <% else %>
        <h1>Hay <%= @posts.count %> posts sin publicar</h1>
        <span class="line"></span>
        <hr>
      <% end %>
      <% @posts.each do  |post| %>
        <%= link_to image_tag(post.avatar_url, class: "img_show"), post_path(post) %><br>
        <% post.tags.each do |tag| %>
        <span class="label label-primary"><%= tag.name %></span>
        <% end %>
        <h3><%= link_to "#{post.unhyphen_title}", post_path(post),
        {:style=>"color:#7b3486;", :class => "post_link"} %></h3>
        <h4><%= markdown(post.summary) %></h4>
      <% end %>
    </div>
  </div>
</div>