<div class="register_form">
  <%= simple_form_for @category do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.input :name,   label: "Nombre",      class: "form-control" %>
  <h5>Selecciona si es una categoría importante</h5>
  <%= f.input :core,   label: "Principal", class: "form-control" %>
  <% if params[:action] == 'new' %>
  <%= f.submit "Crear cateogría",      class: "btn btn-block btn-primary" %>
  <% else %>
  <%= f.submit "Guardar cambios", class: "btn btn-block btn-primary" %>
  <%= link_to "Borrar categoría", @category, method: :delete, 
  data: { confirm: "¿Estás seguro de borrar la categoría '#{@category.unhyphen_name}'?" },
                                  class: "btn btn-danger btn-block" %>
  <% end %>
  <% end %>
</div>
