/ESTO ES PARA TAGS
- provide(:title, "Categorias")
.container
  .col-md-12
    %h1 Estas son las categorías y tags que hay
    %span.line
    %hr
  .col-md-10
    - @tags.each do |tag|
      = render partial: 'shared/post', locals: { post: tag }
      / %span.label-tag= "#{tag.name} (#{tag.taggings_count})"
      / = link_to "X", tag_path(tag), method: :delete, data: { confirm: "¿Estás seguro de borrar '#{tag.name}'?" }, class: "delete_tag"
  .col-md-2
    = render partial: 'shared/tags'