!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = google_webfonts_init( { google: ['Titillium Web', 'sans-serif'] })
    = favicon_link_tag 'favicon.ico'
  %body.wood
    #wrap.boxed
      %span#hline
      = render 'layouts/header'
      = yield
      = render 'layouts/footer'